html, body, .container-fluid {
  height: 100%;
}

body {
  color: white;
}

.row {
  height: 100%;
}

.btn-clear {
  color: #fff;
  background-color: transparent;
  border-color: #fff;
}

.btn-clear:hover {
  color: #333;
  background-color: #fff;
}

#controls {
  position: absolute;
  top: 21px;
  right: 16px;
}

#root {
  overflow: hidden;
}

#home {
  background-color: #99cc66;
}

#home #controls .btn-clear:hover {
  color: #99cc66
}

#avg-mileage-container {
  margin-top: 5.5em;
}

#avg-mileage {
  font-weight: bolder;
  font-size: 15em;
}

#mpg-unit-label {
  font-size: 5em;
}

#add {
  background-color: #6699cc;
}

#add #controls .btn-clear:hover {
  color: #6699cc
}

.operator, #mpg {
  font-size: 3.7em;
}

#entries {
  background-color: #9966cc;
  overflow: hidden;
}

#entries #controls .btn-clear:hover {
  color: #9966cc
}

#table-scroller {
  max-height: 524px;
  overflow: scroll;
}

#visuals {
  background-color: #cc9966;
}

#visuals #controls .btn-clear:hover {
  color: #cc9966
}

#deal-with-it {
  font-size: 32em;
}
